{
	"presets": [ "@wordpress/babel-preset-default" ],
	"plugins": [
		  [
		"transform-react-jsx",
		{
				"pragma": "wp.element.createElement"
		}
	  ],
	  [
		"@wordpress/babel-plugin-makepot",
		{
				"output": "languages/temenos-js.pot"
		}
	  ],
	  ]
  }
