.wp-block-fox-blocks-media-text,
.wp-block-fox-blocks-media-text.aligncenter {
	display: grid;
	margin-bottom: var(--spacing-unit-4x);
}

.wp-block-fox-blocks-media-text {
	align-items: center;
	grid-gap: var(--spacing-unit-4x);
}

.wp-block-fox-blocks-media-text__media {
	margin: 0;
}

@supports (grid-area: auto) {
	@media (min-width: 40em) {
		.wp-block-fox-blocks-media-text {
			grid-template-areas: "fb-media-text-media fb-media-text-content";
			grid-template-columns: repeat(2, 1fr);
		}

		.wp-block-fox-blocks-media-text.has-media-on-the-right {
			grid-template-areas: "fb-media-text-content fb-media-text-media";
		}

		.wp-block-fox-blocks-media-text__media {
			grid-area: fb-media-text-media;
		}

		.wp-block-fox-blocks-media-text__content {
			grid-area: fb-media-text-content;
		}
	}

	@media (min-width: 62em) {
		.wp-block-fox-blocks-media-text.alignfull {
			grid-template-areas: "fb-media-text-start fb-media-text-media fb-media-text-content fb-media-text-end";
			grid-template-columns: auto minmax(0, calc(var(--max-width-wide) / 2 - var(--spacing-unit-2x))) minmax(0, calc(var(--max-width-wide) / 2 - var(--spacing-unit-2x))) auto;
		}

		.wp-block-fox-blocks-media-text.alignfull.has-media-on-the-right {
			grid-template-areas: "fb-media-text-start fb-media-text-content fb-media-text-media fb-media-text-end";
		}
	}
}
