.is-style-circle-button .wp-block-button__link {
	align-items: center;
	background-color: var(--color-dark);
	border-radius: calc(var(--spacing-unit) * 20);
	color: var(--color-white);
	display: flex;
	font-family: var(--font-heading);
	font-size: var(--font-size-h3);
	font-weight: 700;
	justify-content: center;
	line-height: var(--line-height-heading);
	height: calc(var(--spacing-unit) * 32);
	padding: calc(var(--spacing-unit) * 4) calc(var(--spacing-unit) * 4);
	text-align: center;
	text-decoration: none;
	width: calc(var(--spacing-unit) * 32);
}

.is-style-circle-button .wp-block-button__link:hover,
.is-style-circle-button .wp-block-button__link:focus,
.is-style-circle-button .wp-block-button__link:active {
	background-color: var(--color-base);
}

.is-style-circle-button.aligncenter .wp-block-button__link {
	margin-left: auto;
	margin-right: auto;
}
